@import "tailwindcss";

.prose pre {
  background-color: #1e1e1e !important;
  padding: 1rem !important;
  border-radius: 0.75rem;
  overflow-x: auto;
}

.prose code {
  font-family: "Fira Code", monospace;
  font-size: 0.9rem;
}

.prose ul {
  list-style-type: disc !important;
  margin-left: 1.5rem !important;
}

.prose ul ul {
  list-style-type: circle !important;
  margin-left: 1.5rem !important;
}

.prose ol {
  list-style-type: decimal !important;
  margin-left: 1.5rem !important;
}
